.container {
    width: 1000px;
    height: 100%;
    margin: auto;
   
}
#picture {
    width: 250px;
    height: 200px;
    margin: 25px;
    position: relative;
}
#event_details{
    border: 20px;
    border-color:red;
    position: absolute;
    left: 500px;
    top: 5px;
    width: 300px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #d841b2;
}
#particular_details{
    background-color: royalblue;
    width: 100%;
    height: 250px;

}
#restaurant_area_grid{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    width: 100%;
}
#restaurants_container{
    position: relative;
    width: 450px;
    margin: 20px;
    background-color: skyblue;
    height: 200px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 8px;
    box-shadow: 8px 8px 5px grey;
    /* display: grid;
    grid-template-columns: repeat(2 , auto); */
}
#restaurant_img{
    height: 100px;
    width: 150px;
    margin: 15px;
    opacity: 75%;
}
#restaurant_name{
    position: absolute;
    top: 15px;
    right: 75px;
}
#restaurant_data_grid{
    position: absolute;
    top: 55px;
    right: 200px;
}
#restaurant_adress{
    margin-bottom: 5px;
    border: 10px;
}
.wheater_container{
    width: 150px;
    height: 200px;
    background-color: blue;
    border-radius: 15px;
    color: white;
    position: absolute;
    left: 500px;
    top: 35px;
    box-shadow: 7px 7px 5px grey;
}
#wheater_container_grid{
    position: absolute;
    top: 25px;
    left: 15px;
}
#humidity{
    position: absolute;
    top: 100px
}
