li {
    padding: 15px;
}

a.item {
    color: #a333c8 !important;
}

div.menu.right div.item a.item {
    background-color: azure;
    font-weight: bolder;
}

#showcase {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: #333;
}

#menu {
    height: 60px;
    background: rgba(0, 3, 39, 0.39);
    box-shadow: 0px 15px 10px -15px #111;
}

.ui.segment {
    cursor: pointer;
}

h1 {
    text-align: center;
}

.card {
    margin: 10px;
}

#cubeContain {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#topDiv {
    margin: 10px;
}

#extraDetails {
    margin: 10px 20px;
}

div.ui.bottom.attached.button {
    background-color: azure;
    color: #a333c8;
}
